In [1]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm

In [2]:
import os
fname=[]
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        if(dirname=='/kaggle/input/cricsheet-a-retrosheet-for-cricket/t20s'):
            fname.append(os.path.join(dirname, filename))

In [3]:
len(fname)

1433

In [4]:
final_df = pd.DataFrame()
counter = 1
for file in tqdm(fname):
    try:
        with open(file, 'r') as f:
            df = pd.json_normalize(safe_load(f))
            df['match_id'] = counter
            final_df = final_df.append(df)
            counter+=1
    except NotImplementedError:
        print("Error")
            
final_df

 44%|████▍     | 637/1433 [03:38<04:03,  3.27it/s]

Error

100%|██████████| 1433/1433 [08:11<00:00,  2.91it/s]

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.neutral_venue,info.outcome.by.wickets,...,match_id,info.match_type_number,info.outcome.by.runs,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.bowl_out,info.outcome.bowl_out,info.supersubs.New Zealand,info.supersubs.South Africa
0,"[{'1st innings': {'team': 'Scotland', 'deliver...",0.9,2012-12-30,2,Belfast,[2008-08-04],male,T20,1.0,5.0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2020-08-08,1,Abu Dhabi,[2017-10-27],male,T20,NaN,2.0,...,2,627.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",0.9,2020-07-06,1,NaN,[2018-07-05],male,T20,NaN,NaN,...,3,686.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",0.9,2020-07-01,1,Guyana,[2018-11-11],female,T20,NaN,9.0,...,4,519.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",0.9,2020-03-06,1,Greater Noida,[2020-03-06],male,T20,NaN,NaN,...,5,1077.0,11.0,D/L,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Nigeria', 'deliveri...",0.9,2019-10-25,1,Abu Dhabi,[2019-10-24],male,T20,NaN,5.0,...,1428,964.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'New Zealand', 'deli...",0.9,2020-08-08,1,NaN,[2017-11-12],female,T20,NaN,NaN,...,1429,389.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2013-02-20,2,Auckland,[2006-12-26],male,T20,NaN,5.0,...,1430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'India', 'deliveries...",0.9,2014-05-25,2,NaN,[2012-10-31],female,T20,1.0,NaN,...,1431,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'West Indies', 'deli...",0.9,2019-11-14,1,Lucknow,[2019-11-14],male,T20,NaN,NaN,...,1432,1015.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
backup = final_df.copy()

In [6]:
final_df

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.neutral_venue,info.outcome.by.wickets,...,match_id,info.match_type_number,info.outcome.by.runs,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.bowl_out,info.outcome.bowl_out,info.supersubs.New Zealand,info.supersubs.South Africa
0,"[{'1st innings': {'team': 'Scotland', 'deliver...",0.9,2012-12-30,2,Belfast,[2008-08-04],male,T20,1.0,5.0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2020-08-08,1,Abu Dhabi,[2017-10-27],male,T20,NaN,2.0,...,2,627.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",0.9,2020-07-06,1,NaN,[2018-07-05],male,T20,NaN,NaN,...,3,686.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",0.9,2020-07-01,1,Guyana,[2018-11-11],female,T20,NaN,9.0,...,4,519.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",0.9,2020-03-06,1,Greater Noida,[2020-03-06],male,T20,NaN,NaN,...,5,1077.0,11.0,D/L,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Nigeria', 'deliveri...",0.9,2019-10-25,1,Abu Dhabi,[2019-10-24],male,T20,NaN,5.0,...,1428,964.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'New Zealand', 'deli...",0.9,2020-08-08,1,NaN,[2017-11-12],female,T20,NaN,NaN,...,1429,389.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2013-02-20,2,Auckland,[2006-12-26],male,T20,NaN,5.0,...,1430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'India', 'deliveries...",0.9,2014-05-25,2,NaN,[2012-10-31],female,T20,1.0,NaN,...,1431,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'West Indies', 'deli...",0.9,2019-11-14,1,Lucknow,[2019-11-14],male,T20,NaN,NaN,...,1432,1015.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
final_df.drop(columns=[
    'meta.data_version',
    'meta.created',
    'meta.revision',
    'info.outcome.bowl_out',
    'info.bowl_out',
    'info.supersubs.South Africa',
    'info.supersubs.New Zealand',
    'info.outcome.eliminator',
    'info.outcome.result',
    'info.outcome.method',
    'info.neutral_venue',
    'info.match_type_number',
    'info.outcome.by.runs',
    'info.outcome.by.wickets'
],inplace=True)

In [8]:
final_df

,innings,info.city,info.dates,info.gender,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id
0,"[{'1st innings': {'team': 'Scotland', 'deliver...",Belfast,[2008-08-04],male,T20,Netherlands,20,[RN ten Doeschate],"[Netherlands, Scotland]",field,Netherlands,"[NG Bagh, PK Baldwin]","Civil Service Cricket Club, Stormont",1
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Abu Dhabi,[2017-10-27],male,T20,Pakistan,20,[Shadab Khan],"[Sri Lanka, Pakistan]",field,Pakistan,"[Ahmed Shahab, Shozab Raza]",Sheikh Zayed Stadium,2
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",NaN,[2018-07-05],male,T20,Pakistan,20,[Fakhar Zaman],"[Pakistan, Australia]",field,Australia,"[RB Tiffin, L Rusere]",Harare Sports Club,3
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",Guyana,[2018-11-11],female,T20,Australia,20,[AJ Healy],"[Ireland, Australia]",bat,Ireland,"[L Rusere, WR Knights]",Providence Stadium,4
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",Greater Noida,[2020-03-06],male,T20,Afghanistan,20,[Rashid Khan],"[Afghanistan, Ireland]",bat,Ireland,"[Bismillah Shinwari, Ahmed Shah Durrani]",Greater Noida Sports Complex Ground,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Nigeria', 'deliveri...",Abu Dhabi,[2019-10-24],male,T20,United Arab Emirates,20,[Zawar Farid],"[United Arab Emirates, Nigeria]",field,United Arab Emirates,"[LE Hannibal, S Ravi]",Tolerance Oval,1428
0,"[{'1st innings': {'team': 'New Zealand', 'deli...",NaN,[2017-11-12],female,T20,New Zealand,20,[SW Bates],"[New Zealand, Pakistan]",bat,New Zealand,"[Khalid Mahmood, Rashid Riaz]",Sharjah Cricket Stadium,1429
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Auckland,[2006-12-26],male,T20,New Zealand,20,[JEC Franklin],"[New Zealand, Sri Lanka]",field,New Zealand,"[BF Bowden, AL Hill]",Eden Park,1430
0,"[{'1st innings': {'team': 'India', 'deliveries...",NaN,[2012-10-31],female,T20,India,20,[PG Raut],"[India, Pakistan]",bat,India,"[BB Pradhan, Sarika Prasad]",Guanggong International Cricket Stadium,1431
0,"[{'1st innings': {'team': 'West Indies', 'deli...",Lucknow,[2019-11-14],male,T20,West Indies,20,[KA Pollard],"[Afghanistan, West Indies]",field,Afghanistan,"[Ahmed Shah Pakteen, Ahmed Shah Durrani]",Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,1432

In [9]:
final_df['info.gender'].value_counts()

male      966
female    466
Name: info.gender, dtype: int64

In [10]:
final_df = final_df[final_df['info.gender'] == 'male']
final_df.drop(columns=['info.gender'],inplace=True)
final_df

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,innings,info.city,info.dates,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id
0,"[{'1st innings': {'team': 'Scotland', 'deliver...",Belfast,[2008-08-04],T20,Netherlands,20,[RN ten Doeschate],"[Netherlands, Scotland]",field,Netherlands,"[NG Bagh, PK Baldwin]","Civil Service Cricket Club, Stormont",1
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Abu Dhabi,[2017-10-27],T20,Pakistan,20,[Shadab Khan],"[Sri Lanka, Pakistan]",field,Pakistan,"[Ahmed Shahab, Shozab Raza]",Sheikh Zayed Stadium,2
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",NaN,[2018-07-05],T20,Pakistan,20,[Fakhar Zaman],"[Pakistan, Australia]",field,Australia,"[RB Tiffin, L Rusere]",Harare Sports Club,3
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",Greater Noida,[2020-03-06],T20,Afghanistan,20,[Rashid Khan],"[Afghanistan, Ireland]",bat,Ireland,"[Bismillah Shinwari, Ahmed Shah Durrani]",Greater Noida Sports Complex Ground,5
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",Bangkok,[2020-03-01],T20,Hong Kong,20,[Haroon Arshad],"[Hong Kong, Nepal]",field,Nepal,"[Arif Ansari, V Kalidas]",Terdthai Cricket Ground,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",Centurion,[2013-03-03],T20,Pakistan,20,[Mohammad Hafeez],"[South Africa, Pakistan]",bat,Pakistan,"[JD Cloete, S George]",SuperSport Park,1425
0,"[{'1st innings': {'team': 'South Africa', 'del...",Johannesburg,[2017-01-22],T20,Sri Lanka,20,[AD Mathews],"[South Africa, Sri Lanka]",bat,South Africa,"[AT Holdstock, BP Jele]",New Wanderers Stadium,1427
0,"[{'1st innings': {'team': 'Nigeria', 'deliveri...",Abu Dhabi,[2019-10-24],T20,United Arab Emirates,20,[Zawar Farid],"[United Arab Emirates, Nigeria]",field,United Arab Emirates,"[LE Hannibal, S Ravi]",Tolerance Oval,1428
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Auckland,[2006-12-26],T20,New Zealand,20,[JEC Franklin],"[New Zealand, Sri Lanka]",field,New Zealand,"[BF Bowden, AL Hill]",Eden Park,1430
0,"[{'1st innings': {'team': 'West Indies', 'deli...",Lucknow,[2019-11-14],T20,West Indies,20,[KA Pollard],"[Afghanistan, West Indies]",field,Afghanistan,"[Ahmed Shah Pakteen, Ahmed Shah Durrani]",Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,1432

In [11]:
final_df['info.match_type'].value_counts()

T20    966
Name: info.match_type, dtype: int64

In [12]:
final_df['info.overs'].value_counts()

20    963
50      3
Name: info.overs, dtype: int64

In [13]:
final_df = final_df[final_df['info.overs'] == 20]
final_df.drop(columns=['info.overs','info.match_type'],inplace=True)
final_df

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,innings,info.city,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id
0,"[{'1st innings': {'team': 'Scotland', 'deliver...",Belfast,[2008-08-04],Netherlands,[RN ten Doeschate],"[Netherlands, Scotland]",field,Netherlands,"[NG Bagh, PK Baldwin]","Civil Service Cricket Club, Stormont",1
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Abu Dhabi,[2017-10-27],Pakistan,[Shadab Khan],"[Sri Lanka, Pakistan]",field,Pakistan,"[Ahmed Shahab, Shozab Raza]",Sheikh Zayed Stadium,2
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",NaN,[2018-07-05],Pakistan,[Fakhar Zaman],"[Pakistan, Australia]",field,Australia,"[RB Tiffin, L Rusere]",Harare Sports Club,3
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",Greater Noida,[2020-03-06],Afghanistan,[Rashid Khan],"[Afghanistan, Ireland]",bat,Ireland,"[Bismillah Shinwari, Ahmed Shah Durrani]",Greater Noida Sports Complex Ground,5
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",Bangkok,[2020-03-01],Hong Kong,[Haroon Arshad],"[Hong Kong, Nepal]",field,Nepal,"[Arif Ansari, V Kalidas]",Terdthai Cricket Ground,7
...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Pakistan', 'deliver...",Centurion,[2013-03-03],Pakistan,[Mohammad Hafeez],"[South Africa, Pakistan]",bat,Pakistan,"[JD Cloete, S George]",SuperSport Park,1425
0,"[{'1st innings': {'team': 'South Africa', 'del...",Johannesburg,[2017-01-22],Sri Lanka,[AD Mathews],"[South Africa, Sri Lanka]",bat,South Africa,"[AT Holdstock, BP Jele]",New Wanderers Stadium,1427
0,"[{'1st innings': {'team': 'Nigeria', 'deliveri...",Abu Dhabi,[2019-10-24],United Arab Emirates,[Zawar Farid],"[United Arab Emirates, Nigeria]",field,United Arab Emirates,"[LE Hannibal, S Ravi]",Tolerance Oval,1428
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",Auckland,[2006-12-26],New Zealand,[JEC Franklin],"[New Zealand, Sri Lanka]",field,New Zealand,"[BF Bowden, AL Hill]",Eden Park,1430
0,"[{'1st innings': {'team': 'West Indies', 'deli...",Lucknow,[2019-11-14],West Indies,[KA Pollard],"[Afghanistan, West Indies]",field,Afghanistan,"[Ahmed Shah Pakteen, Ahmed Shah Durrani]",Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,1432

In [14]:
import pickle
pickle.dump(final_df,open('dataset_level1.pkl','wb'))

In [15]:
matches = pickle.load(open('dataset_level1.pkl','rb'))
matches.iloc[0]['innings'][0]['1st innings']['deliveries']

[{0.1: {'batsman': 'RR Watson',
   'bowler': 'E Schiferli',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.2: {'batsman': 'RR Watson',
   'bowler': 'E Schiferli',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {0.3: {'batsman': 'RR Watson',
   'bowler': 'E Schiferli',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {0.4: {'batsman': 'KJ Coetzer',
   'bowler': 'E Schiferli',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.5: {'batsman': 'KJ Coetzer',
   'bowler': 'E Schiferli',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {0.6: {'batsman': 'KJ Coetzer',
   'bowler': 'E Schiferli',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.1: {'batsman': 'RR Watson',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {1.2: {'batsman': 'KJ Coetzer',
   'bowler': 'Mudassar Bukhari',
   'extras': {'legbyes': 1},
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {1.3: {'batsman': 'RR Watson',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.4: {'batsman': 'RR Watson',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.5: {'batsman': 'RR Watson',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.6: {'batsman': 'RR Watson',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.1: {'batsman': 'RR Watson',
   'bowler': 'E Schiferli',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.2: {'batsman': 'KJ Coetzer',
   'bowler': 'E Schiferli',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.3: {'batsman': 'KJ Coetzer',
   'bowler': 'E Schiferli',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.4: {'batsman': 'KJ Coetzer',
   'bowler': 'E Schiferli',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.5: {'batsman': 'KJ Coetzer',
   'bowler': 'E Schiferli',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.6: {'batsman': 'KJ Coetzer',
   'bowler': 'E Schiferli',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.1: {'batsman': 'RR Watson',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.2: {'batsman': 'RR Watson',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.3: {'batsman': 'RR Watson',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.4: {'batsman': 'KJ Coetzer',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {3.5: {'batsman': 'KJ Coetzer',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {3.6: {'batsman': 'KJ Coetzer',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {4.1: {'batsman': 'RR Watson',
   'bowler': 'E Schiferli',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {4.2: {'batsman': 'RR Watson',
   'bowler': 'E Schiferli',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {4.3: {'batsman': 'RR Watson',
   'bowler': 'E Schiferli',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {4.4: {'batsman': 'RR Watson',
   'bowler': 'E Schiferli',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.5: {'batsman': 'KJ Coetzer',
   'bowler': 'E Schiferli',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.6: {'batsman': 'RR Watson',
   'bowler': 'E Schiferli',
   'extras': {'wides': 1},
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {4.7: {'batsman': 'RR Watson',
   'bowler': 'E Schiferli',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.1: {'batsman': 'RR Watson',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.2: {'batsman': 'KJ Coetzer',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.3: {'batsman': 'KJ Coetzer',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {5.4: {'batsman': 'KJ Coetzer',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.5: {'batsman': 'KJ Coetzer',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.6: {'batsman': 'KJ Coetzer',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {6.1: {'batsman': 'RR Watson',
   'bowler': 'PW Borren',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.2: {'batsman': 'KJ Coetzer',
   'bowler': 'PW Borren',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.3: {'batsman': 'KJ Coetzer',
   'bowler': 'PW Borren',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.4: {'batsman': 'KJ Coetzer',
   'bowler': 'PW Borren',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.5: {'batsman': 'KJ Coetzer',
   'bowler': 'PW Borren',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.6: {'batsman': 'RR Watson',
   'bowler': 'PW Borren',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {7.1: {'batsman': 'KJ Coetzer',
   'bowler': 'PM Seelaar',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.2: {'batsman': 'KJ Coetzer',
   'bowler': 'PM Seelaar',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.3: {'batsman': 'RR Watson',
   'bowler': 'PM Seelaar',
   'extras': {'legbyes': 1},
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {7.4: {'batsman': 'KJ Coetzer',
   'bowler': 'PM Seelaar',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.5: {'batsman': 'KJ Coetzer',
   'bowler': 'PM Seelaar',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.6: {'batsman': 'KJ Coetzer',
   'bowler': 'PM Seelaar',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.1: {'batsman': 'RR Watson',
   'bowler': 'PW Borren',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.2: {'batsman': 'RR Watson',
   'bowler': 'PW Borren',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.3: {'batsman': 'KJ Coetzer',
   'bowler': 'PW Borren',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.4: {'batsman': 'KJ Coetzer',
   'bowler': 'PW Borren',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.5: {'batsman': 'KJ Coetzer',
   'bowler': 'PW Borren',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {8.6: {'batsman': 'KJ Coetzer',
   'bowler': 'PW Borren',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.1: {'batsman': 'RR Watson',
   'bowler': 'PM Seelaar',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {9.2: {'batsman': 'RR Watson',
   'bowler': 'PM Seelaar',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.3: {'batsman': 'KJ Coetzer',
   'bowler': 'PM Seelaar',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.4: {'batsman': 'KJ Coetzer',
   'bowler': 'PM Seelaar',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.5: {'batsman': 'RR Watson',
   'bowler': 'PM Seelaar',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.6: {'batsman': 'KJ Coetzer',
   'bowler': 'PM Seelaar',
   'non_striker': 'RR Watson',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.1: {'batsman': 'RR Watson',
   'bowler': 'PW Borren',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'kind': 'bowled', 'player_out': 'RR Watson'}}},
 {10.2: {'batsman': 'NS Poonia',
   'bowler': 'PW Borren',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.3: {'batsman': 'NS Poonia',
   'bowler': 'PW Borren',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.4: {'batsman': 'NS Poonia',
   'bowler': 'PW Borren',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {10.5: {'batsman': 'NS Poonia',
   'bowler': 'PW Borren',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.6: {'batsman': 'KJ Coetzer',
   'bowler': 'PW Borren',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.1: {'batsman': 'NS Poonia',
   'bowler': 'PM Seelaar',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.2: {'batsman': 'KJ Coetzer',
   'bowler': 'PM Seelaar',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {11.3: {'batsman': 'KJ Coetzer',
   'bowler': 'PM Seelaar',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.4: {'batsman': 'NS Poonia',
   'bowler': 'PM Seelaar',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.5: {'batsman': 'KJ Coetzer',
   'bowler': 'PM Seelaar',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.6: {'batsman': 'KJ Coetzer',
   'bowler': 'PM Seelaar',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.1: {'batsman': 'KJ Coetzer',
   'bowler': 'PW Borren',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.2: {'batsman': 'NS Poonia',
   'bowler': 'PW Borren',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.3: {'batsman': 'KJ Coetzer',
   'bowler': 'PW Borren',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.4: {'batsman': 'NS Poonia',
   'bowler': 'PW Borren',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.5: {'batsman': 'KJ Coetzer',
   'bowler': 'PW Borren',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.6: {'batsman': 'NS Poonia',
   'bowler': 'PW Borren',
   'extras': {'legbyes': 1},
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {13.1: {'batsman': 'NS Poonia',
   'bowler': 'PM Seelaar',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.2: {'batsman': 'KJ Coetzer',
   'bowler': 'PM Seelaar',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.3: {'batsman': 'NS Poonia',
   'bowler': 'PM Seelaar',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.4: {'batsman': 'NS Poonia',
   'bowler': 'PM Seelaar',
   'non_striker': 'KJ Coetzer',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.5: {'batsman': 'KJ Coetzer',
   'bowler': 'PM Seelaar',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['PW Borren', 'PM Seelaar'],
    'kind': 'run out',
    'player_out': 'KJ Coetzer'}}},
 {13.6: {'batsman': 'NS Poonia',
   'bowler': 'PM Seelaar',
   'non_striker': 'CJO Smith',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.1: {'batsman': 'NS Poonia',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'CJO Smith',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {14.2: {'batsman': 'NS Poonia',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'CJO Smith',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.3: {'batsman': 'CJO Smith',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['PM Seelaar'],
    'kind': 'caught',
    'player_out': 'CJO Smith'}}},
 {14.4: {'batsman': 'NS Poonia',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'GM Hamilton',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {14.5: {'batsman': 'NS Poonia',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'GM Hamilton',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.6: {'batsman': 'GM Hamilton',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {15.1: {'batsman': 'NS Poonia',
   'bowler': 'E Schiferli',
   'non_striker': 'GM Hamilton',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.2: {'batsman': 'GM Hamilton',
   'bowler': 'E Schiferli',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.3: {'batsman': 'NS Poonia',
   'bowler': 'E Schiferli',
   'non_striker': 'GM Hamilton',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.4: {'batsman': 'GM Hamilton',
   'bowler': 'E Schiferli',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.5: {'batsman': 'NS Poonia',
   'bowler': 'E Schiferli',
   'non_striker': 'GM Hamilton',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.6: {'batsman': 'GM Hamilton',
   'bowler': 'E Schiferli',
   'extras': {'legbyes': 1},
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {16.1: {'batsman': 'GM Hamilton',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {16.2: {'batsman': 'GM Hamilton',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {16.3: {'batsman': 'GM Hamilton',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.4: {'batsman': 'NS Poonia',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'GM Hamilton',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.5: {'batsman': 'GM Hamilton',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.6: {'batsman': 'NS Poonia',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'GM Hamilton',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.1: {'batsman': 'NS Poonia',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'GM Hamilton',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {17.2: {'batsman': 'NS Poonia',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'GM Hamilton',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.3: {'batsman': 'GM Hamilton',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {17.4: {'batsman': 'GM Hamilton',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.5: {'batsman': 'NS Poonia',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'GM Hamilton',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {17.6: {'batsman': 'NS Poonia',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'GM Hamilton',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {18.1: {'batsman': 'GM Hamilton',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['DJ Reekers'],
    'kind': 'caught',
    'player_out': 'GM Hamilton'}}},
 {18.2: {'batsman': 'NS Poonia',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'NFI McCallum',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.3: {'batsman': 'NFI McCallum',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['E Schiferli'],
    'kind': 'caught',
    'player_out': 'NFI McCallum'}}},
 {18.4: {'batsman': 'GD Drummond',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'NS Poonia',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['E Schiferli'],
    'kind': 'run out',
    'player_out': 'NS Poonia'}}},
 {18.5: {'batsman': 'RD Berrington',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'GD Drummond',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {18.6: {'batsman': 'RD Berrington',
   'bowler': 'RN ten Doeschate',
   'extras': {'wides': 1},
   'non_striker': 'GD Drummond',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {18.7: {'batsman': 'RD Berrington',
   'bowler': 'RN ten Doeschate',
   'non_striker': 'GD Drummond',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.1: {'batsman': 'GD Drummond',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'RD Berrington',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {19.2: {'batsman': 'GD Drummond',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'RD Berrington',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.3: {'batsman': 'GD Drummond',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'RD Berrington',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {19.4: {'batsman': 'GD Drummond',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'RD Berrington',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['J Smits'],
    'kind': 'run out',
    'player_out': 'RD Berrington'}}},
 {19.5: {'batsman': 'JAR Blain',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'GD Drummond',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1},
   'wicket': {'fielders': ['PW Borren'],
    'kind': 'run out',
    'player_out': 'GD Drummond'}}},
 {19.6: {'batsman': 'JAR Blain',
   'bowler': 'Mudassar Bukhari',
   'non_striker': 'RM Haq',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}}]

In [16]:
count = 1
delivery_df = pd.DataFrame()
for index, row in matches.iterrows():
    if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        count+=1
        continue
    count+=1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
            'match_id':match_id,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_of_match,
            'batsman':batsman,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_of_dismissed,
            'city':city,
            'venue':venue
        })
    delivery_df = delivery_df.append(loop_df)

In [17]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[Netherlands, Scotland]",Scotland,0.1,RR Watson,E Schiferli,0,0,Belfast,"Civil Service Cricket Club, Stormont"
1,2,"[Netherlands, Scotland]",Scotland,0.2,RR Watson,E Schiferli,2,0,Belfast,"Civil Service Cricket Club, Stormont"
2,2,"[Netherlands, Scotland]",Scotland,0.3,RR Watson,E Schiferli,1,0,Belfast,"Civil Service Cricket Club, Stormont"
3,2,"[Netherlands, Scotland]",Scotland,0.4,KJ Coetzer,E Schiferli,0,0,Belfast,"Civil Service Cricket Club, Stormont"
4,2,"[Netherlands, Scotland]",Scotland,0.5,KJ Coetzer,E Schiferli,2,0,Belfast,"Civil Service Cricket Club, Stormont"
...,...,...,...,...,...,...,...,...,...,...
116,964,"[Afghanistan, West Indies]",West Indies,19.2,KA Pollard,Naveen-ul-Haq,1,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...
117,964,"[Afghanistan, West Indies]",West Indies,19.3,FA Allen,Naveen-ul-Haq,1,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...
118,964,"[Afghanistan, West Indies]",West Indies,19.4,KA Pollard,Naveen-ul-Haq,2,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...
119,964,"[Afghanistan, West Indies]",West Indies,19.5,KA Pollard,Naveen-ul-Haq,6,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...
120,964,"[Afghanistan, West Indies]",West Indies,19.6,KA Pollard,Naveen-ul-Haq,4,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...

In [18]:
def bowl(row):
    for team in row['teams']:
        if team != row['batting_team']:
            return team

In [19]:
delivery_df['bowling_team'] = delivery_df.apply(bowl,axis=1)

In [20]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,"[Netherlands, Scotland]",Scotland,0.1,RR Watson,E Schiferli,0,0,Belfast,"Civil Service Cricket Club, Stormont",Netherlands
1,2,"[Netherlands, Scotland]",Scotland,0.2,RR Watson,E Schiferli,2,0,Belfast,"Civil Service Cricket Club, Stormont",Netherlands
2,2,"[Netherlands, Scotland]",Scotland,0.3,RR Watson,E Schiferli,1,0,Belfast,"Civil Service Cricket Club, Stormont",Netherlands
3,2,"[Netherlands, Scotland]",Scotland,0.4,KJ Coetzer,E Schiferli,0,0,Belfast,"Civil Service Cricket Club, Stormont",Netherlands
4,2,"[Netherlands, Scotland]",Scotland,0.5,KJ Coetzer,E Schiferli,2,0,Belfast,"Civil Service Cricket Club, Stormont",Netherlands
...,...,...,...,...,...,...,...,...,...,...,...
116,964,"[Afghanistan, West Indies]",West Indies,19.2,KA Pollard,Naveen-ul-Haq,1,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Afghanistan
117,964,"[Afghanistan, West Indies]",West Indies,19.3,FA Allen,Naveen-ul-Haq,1,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Afghanistan
118,964,"[Afghanistan, West Indies]",West Indies,19.4,KA Pollard,Naveen-ul-Haq,2,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Afghanistan
119,964,"[Afghanistan, West Indies]",West Indies,19.5,KA Pollard,Naveen-ul-Haq,6,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Afghanistan
120,964,"[Afghanistan, West Indies]",West Indies,19.6,KA Pollard,Naveen-ul-Haq,4,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Afghanistan

In [21]:
delivery_df.drop(columns=['teams'],inplace=True)

In [22]:
delivery_df['batting_team'].unique()

array(['Scotland', 'Sri Lanka', 'Pakistan', 'Ireland', 'Hong Kong',
       'Australia', 'South Africa', 'Kenya', 'Papua New Guinea',
       'West Indies', 'Malaysia', 'United States of America', 'England',
       'Cayman Islands', 'Bermuda', 'Kuwait', 'India', 'Zimbabwe',
       'New Zealand', 'United Arab Emirates', 'Bangladesh', 'Namibia',
       'Bulgaria', 'Denmark', 'Afghanistan', 'Nepal', 'Netherlands',
       'Singapore', 'Isle of Man', 'Thailand', 'Canada', 'Norway',
       'Vanuatu', 'Germany', 'Jersey', 'Oman', 'Nigeria', 'Gibraltar',
       'Ghana', 'Maldives', 'Guernsey', 'Philippines', 'Portugal',
       'Uganda', 'Botswana', 'Bhutan', 'Belgium', 'Spain', 'Iran',
       'Romania', 'Italy', 'Qatar'], dtype=object)

In [23]:
teams = [
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Afghanistan',
    'Pakistan',
    'Sri Lanka'    
]

In [24]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [25]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,3,Sri Lanka,0.1,MD Gunathilaka,Imad Wasim,0,0,Abu Dhabi,Sheikh Zayed Stadium,Pakistan
1,3,Sri Lanka,0.2,MD Gunathilaka,Imad Wasim,0,0,Abu Dhabi,Sheikh Zayed Stadium,Pakistan
2,3,Sri Lanka,0.3,MD Gunathilaka,Imad Wasim,1,0,Abu Dhabi,Sheikh Zayed Stadium,Pakistan
3,3,Sri Lanka,0.4,EMDY Munaweera,Imad Wasim,0,0,Abu Dhabi,Sheikh Zayed Stadium,Pakistan
4,3,Sri Lanka,0.5,EMDY Munaweera,Imad Wasim,0,0,Abu Dhabi,Sheikh Zayed Stadium,Pakistan
...,...,...,...,...,...,...,...,...,...,...
116,964,West Indies,19.2,KA Pollard,Naveen-ul-Haq,1,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Afghanistan
117,964,West Indies,19.3,FA Allen,Naveen-ul-Haq,1,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Afghanistan
118,964,West Indies,19.4,KA Pollard,Naveen-ul-Haq,2,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Afghanistan
119,964,West Indies,19.5,KA Pollard,Naveen-ul-Haq,6,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Afghanistan
120,964,West Indies,19.6,KA Pollard,Naveen-ul-Haq,4,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Afghanistan

In [26]:
output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [27]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,3,Sri Lanka,Pakistan,0.1,0,0,Abu Dhabi,Sheikh Zayed Stadium
1,3,Sri Lanka,Pakistan,0.2,0,0,Abu Dhabi,Sheikh Zayed Stadium
2,3,Sri Lanka,Pakistan,0.3,1,0,Abu Dhabi,Sheikh Zayed Stadium
3,3,Sri Lanka,Pakistan,0.4,0,0,Abu Dhabi,Sheikh Zayed Stadium
4,3,Sri Lanka,Pakistan,0.5,0,0,Abu Dhabi,Sheikh Zayed Stadium
...,...,...,...,...,...,...,...,...
116,964,West Indies,Afghanistan,19.2,1,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...
117,964,West Indies,Afghanistan,19.3,1,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...
118,964,West Indies,Afghanistan,19.4,2,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...
119,964,West Indies,Afghanistan,19.5,6,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...
120,964,West Indies,Afghanistan,19.6,4,0,Lucknow,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...

In [28]:
pickle.dump(output,open('dataset_level2.pkl','wb'))

In [29]:
output[output['city'].isnull()]['venue'].value_counts()

Dubai International Cricket Stadium        3092
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       627
Adelaide Oval                               498
Harare Sports Club                          372
Sharjah Cricket Stadium                     249
Sylhet International Cricket Stadium        128
Carrara Oval                                 64
Name: venue, dtype: int64

In [30]:
x = np.where(output['city'].isnull(), output['venue'].str.split().apply(lambda x:x[0]), output['city'])

In [31]:
output['city'] = x

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
output.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [33]:
output.drop(columns=['venue'],inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [34]:
output

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,3,Sri Lanka,Pakistan,0.1,0,0,Abu Dhabi
1,3,Sri Lanka,Pakistan,0.2,0,0,Abu Dhabi
2,3,Sri Lanka,Pakistan,0.3,1,0,Abu Dhabi
3,3,Sri Lanka,Pakistan,0.4,0,0,Abu Dhabi
4,3,Sri Lanka,Pakistan,0.5,0,0,Abu Dhabi
...,...,...,...,...,...,...,...
116,964,West Indies,Afghanistan,19.2,1,0,Lucknow
117,964,West Indies,Afghanistan,19.3,1,0,Lucknow
118,964,West Indies,Afghanistan,19.4,2,0,Lucknow
119,964,West Indies,Afghanistan,19.5,6,0,Lucknow
120,964,West Indies,Afghanistan,19.6,4,0,Lucknow

In [35]:
total_df = output.groupby('match_id').sum()['runs'].reset_index()
output = output.merge(total_df,on='match_id')

In [36]:
output

,match_id,batting_team,bowling_team,ball,runs_x,player_dismissed,city,runs_y
0,3,Sri Lanka,Pakistan,0.1,0,0,Abu Dhabi,124
1,3,Sri Lanka,Pakistan,0.2,0,0,Abu Dhabi,124
2,3,Sri Lanka,Pakistan,0.3,1,0,Abu Dhabi,124
3,3,Sri Lanka,Pakistan,0.4,0,0,Abu Dhabi,124
4,3,Sri Lanka,Pakistan,0.5,0,0,Abu Dhabi,124
...,...,...,...,...,...,...,...,...
64123,964,West Indies,Afghanistan,19.2,1,0,Lucknow,164
64124,964,West Indies,Afghanistan,19.3,1,0,Lucknow,164
64125,964,West Indies,Afghanistan,19.4,2,0,Lucknow,164
64126,964,West Indies,Afghanistan,19.5,6,0,Lucknow,164
64127,964,West Indies,Afghanistan,19.6,4,0,Lucknow,164

In [37]:
output['current_score'] = output.groupby('match_id').cumsum()['runs_x']

In [38]:
output['over'] = output['ball'].apply(lambda x:str(x).split(".")[0])
output['ball_no'] = output['ball'].apply(lambda x:str(x).split(".")[1])

In [39]:
output['balls_bowled'] = (output['over'].astype('int')*6) + output['ball_no'].astype('int')

In [40]:
output['crr'] = round((output['current_score']*6)/output['balls_bowled'],2)

In [41]:
output['player_dismissed'] = output['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
output['player_dismissed'] = output['player_dismissed'].astype('int')
output['player_dismissed'] = output.groupby('match_id').cumsum()['player_dismissed']
output['wickets_left'] = 10 - output['player_dismissed']

In [42]:
final_df = output[['match_id','batting_team','bowling_team','runs_x','current_score','balls_bowled','wickets_left','crr','city','runs_y']]

In [43]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,balls_bowled,wickets_left,crr,city,runs_y
0,3,Sri Lanka,Pakistan,0,0,1,10,0.00,Abu Dhabi,124
1,3,Sri Lanka,Pakistan,0,0,2,10,0.00,Abu Dhabi,124
2,3,Sri Lanka,Pakistan,1,1,3,10,2.00,Abu Dhabi,124
3,3,Sri Lanka,Pakistan,0,1,4,10,1.50,Abu Dhabi,124
4,3,Sri Lanka,Pakistan,0,1,5,10,1.20,Abu Dhabi,124
...,...,...,...,...,...,...,...,...,...,...
64123,964,West Indies,Afghanistan,1,151,116,5,7.81,Lucknow,164
64124,964,West Indies,Afghanistan,1,152,117,5,7.79,Lucknow,164
64125,964,West Indies,Afghanistan,2,154,118,5,7.83,Lucknow,164
64126,964,West Indies,Afghanistan,6,160,119,5,8.07,Lucknow,164
64127,964,West Indies,Afghanistan,4,164,120,5,8.20,Lucknow,164

In [44]:
final_df = final_df.sample(final_df.shape[0])

In [45]:
final_df['balls_left'] = 120 - final_df['balls_bowled']
final_df['balls_left'] = final_df['balls_left'].apply(lambda x:0 if x<0 else x)

In [46]:
final_df['crr'] = round((final_df['current_score']*6)/final_df['balls_bowled'],2)

In [47]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,balls_bowled,wickets_left,crr,city,runs_y,balls_left
43964,667,Bangladesh,West Indies,0,5,4,8,7.50,St Kitts,143,116
14081,225,South Africa,Sri Lanka,1,82,97,6,5.07,Colombo,115,23
58733,885,Sri Lanka,Bangladesh,0,37,30,9,7.40,Johannesburg,147,90
49532,744,England,New Zealand,1,156,103,5,9.09,Manchester,191,17
32664,492,New Zealand,Australia,0,212,102,7,12.47,Auckland,243,18
...,...,...,...,...,...,...,...,...,...,...,...
28281,427,New Zealand,Pakistan,1,51,37,9,8.27,Dubai,153,83
16008,255,South Africa,West Indies,0,130,68,7,11.47,Johannesburg,231,52
12980,210,West Indies,England,0,5,6,10,5.00,Gros Islet,160,114
9987,153,Pakistan,Sri Lanka,1,148,109,8,8.15,Lahore,180,11
52780,787,Bangladesh,Pakistan,1,58,61,7,5.70,Lahore,136,59

In [48]:
final_df.drop(columns=['balls_bowled'],inplace=True)

In [49]:
groups = final_df.groupby('match_id')

In [50]:
match_ids = final_df['match_id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs_x'].values.tolist())

In [51]:
final_df['last_five'] = last_five

In [52]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,wickets_left,crr,city,runs_y,balls_left,last_five
43964,667,Bangladesh,West Indies,0,5,8,7.50,St Kitts,143,116,NaN
14081,225,South Africa,Sri Lanka,1,82,6,5.07,Colombo,115,23,NaN
58733,885,Sri Lanka,Bangladesh,0,37,9,7.40,Johannesburg,147,90,NaN
49532,744,England,New Zealand,1,156,5,9.09,Manchester,191,17,NaN
32664,492,New Zealand,Australia,0,212,7,12.47,Auckland,243,18,NaN
...,...,...,...,...,...,...,...,...,...,...,...
28281,427,New Zealand,Pakistan,1,51,9,8.27,Dubai,153,83,40.0
16008,255,South Africa,West Indies,0,130,7,11.47,Johannesburg,231,52,40.0
12980,210,West Indies,England,0,5,10,5.00,Gros Islet,160,114,40.0
9987,153,Pakistan,Sri Lanka,1,148,8,8.15,Lahore,180,11,NaN
52780,787,Bangladesh,Pakistan,1,58,7,5.70,Lahore,136,59,NaN

In [53]:
final_df.dropna(inplace=True)

In [54]:
final_df

,match_id,batting_team,bowling_team,runs_x,current_score,wickets_left,crr,city,runs_y,balls_left,last_five
42760,649,Sri Lanka,India,1,76,9,8.14,Colombo,171,64,36.0
47929,724,South Africa,Bangladesh,0,95,9,9.05,Mirpur,169,57,36.0
57517,854,New Zealand,Pakistan,0,92,8,7.89,Hamilton,185,50,37.0
26387,404,Pakistan,Bangladesh,0,28,8,7.64,Karachi,203,98,32.0
926,17,Australia,South Africa,1,87,9,9.00,Brisbane,209,62,28.0
...,...,...,...,...,...,...,...,...,...,...,...
34306,517,South Africa,Australia,1,146,3,7.30,Cape Town,146,0,43.0
47857,722,New Zealand,South Africa,0,167,3,8.79,Centurion,177,6,44.0
28281,427,New Zealand,Pakistan,1,51,9,8.27,Dubai,153,83,40.0
16008,255,South Africa,West Indies,0,130,7,11.47,Johannesburg,231,52,40.0
12980,210,West Indies,England,0,5,10,5.00,Gros Islet,160,114,40.0

In [55]:
eligible_cities = final_df['city'].value_counts()[final_df['city'].value_counts() > 600].index.tolist()
final_df = final_df[final_df['city'].isin(eligible_cities)]

In [56]:
X = final_df.drop(columns=['match_id','runs_x','runs_y'])
y = final_df['runs_y']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [57]:
X_test

,batting_team,bowling_team,current_score,wickets_left,crr,city,balls_left,last_five
58766,Sri Lanka,Bangladesh,63,7,6.10,Johannesburg,58,37.0
37113,England,West Indies,84,10,9.33,Barbados,66,47.0
43464,Pakistan,New Zealand,11,10,9.43,Mount Maunganui,113,49.0
20014,South Africa,India,103,4,6.44,Johannesburg,24,42.0
30759,New Zealand,South Africa,23,7,4.06,Durban,86,47.0
...,...,...,...,...,...,...,...,...
37644,Sri Lanka,India,84,6,5.93,Mirpur,35,27.0
17119,England,New Zealand,85,8,8.50,Hamilton,60,42.0
28171,Bangladesh,Sri Lanka,53,7,6.12,Mirpur,68,40.0
63773,South Africa,Sri Lanka,4,10,8.00,Johannesburg,117,51.0
21446,South Africa,England,58,10,10.88,Centurion,88,55.0

In [58]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [59]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [60]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.9505688174193447
3.1336021008146226

In [61]:
teams

['Australia',
 'India',
 'Bangladesh',
 'New Zealand',
 'South Africa',
 'England',
 'West Indies',
 'Afghanistan',
 'Pakistan',
 'Sri Lanka']

In [62]:
# os.remove("/kaggle/working/")
pickle.dump(pipe,open('pipe.pkl','wb'))